

  #app {
    width: 100%;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
    background-image: url('./images/landscape.jpg');
    background-size: cover;
    background-attachment: fixed;
  }

  .content {
    background-color: #f7f7f7;
    border-radius: 6px;
    border-top: 10px solid rgb(26, 41, 23);
    border-bottom: 10px solid rgb(26, 41, 23);
    min-height: 70vh;
    padding: 0px 20px 50px;
    margin: 0% 4%;
  }

  .divider {
    width: 90%;
    border-top: 1.5px solid #9ba9cc;
    margin: 20px auto;
  }

  #logo {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  #logo img {
    width: 9vw;
  }

  .medium-vertical {
    height: 25vw;
  }

  #about-landscape-container {
    display: flex;
    justify-content: center;
  }
  
  #about-landscape {
    display: block;
    width: 700px;
    height: 260px;
    object-position: 0px -80px;
    object-fit: cover;
  }

  .small-vertical {
    width: 15vw;
  }

  #letters-plan, #reasons-pine, #faqs-mcmansion {
    width: 25vw;
  }

  .nav-bar {
    padding: 0.3% 0.8%;
    border: 3px solid rgb(26, 41, 23);
    margin: 1.5% 4%;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    color: #ede6e6;
    background-color: rgb(65, 103, 57);
  }

  #nav-menu {
    display: flex;
    padding: 10px 0px;
    justify-content: right;
    text-align: left;
    font-family: arial;
    text-decoration: none
  }

  a {
    text-decoration: none
  }
  
  .nav-item {
    color: white;
    padding: 2px 20px;
    margin: 5px 0px;
  }
  
  .nav-item:hover {
    background-color: rgb(150, 189, 216);
    color: black;
  }

  .page-heading {
    margin: 20px 0px;
    text-align: center;
  }

  .centered-row-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
  }

  #home-images img {
    border: 2px solid black;
  }

  #home-quote {
    font-style: italic;
    padding: 2px 10vw;
  }

  #home-author {
    padding: 2px 10vw;
  }
  
  #about-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  #history-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  #timeline {
    width: 80%;
    margin-right: 40px;
  }

  .history h3 {
    margin: 3px 0px;
  }

  .history p {
    margin: 3px 0px 30px;
  }

  #letters-container, #reasons-container, #faqs-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  #letters, #reasons, #faqs {
    width: 80%;
    margin-right: 40px;
  }

  .issues-menu {
    padding: 0% 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }

  .issues-button {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .issues-link {
    color: #f7f7f7;
    background-color: rgb(26, 41, 23);
    display: inline-block;
    padding: 10px 6px;
    margin: 0.15em 0.4em 0.15em 0.4em;
    border: 2px solid black;
    height: 52px;
    width: 250px;
    border-radius: 8px;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    vertical-align: middle;
    transition: all 0.15s;
  }

  .issues-link:hover {
    color: black;
    background-color: #f7f7f7;
  }

  .letter h2, .letter h3, .reason h2, .faq h2 {
    margin: 3px 0px;
  }
  
  .letter p, .reason p, .faq p {
    margin: 10px 3px 30px;
    white-space: pre-line;
  }

  .letter a {
    color: #000000;
  }

  #contact-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    justify-content: space-evenly;
  }

  .contact-info {
    white-space: pre-line;
    margin: 0px 0px 10px;
    text-align: center;
    font-size: 15pt;
  }

  #contact-contribution {
    width: 60%;
    text-align: center;
    font-size: 14pt;
    margin-right: auto;
    margin-left: auto;
  }

  #download-button-container {
    display: flex;
    justify-content: center;
  }

  #download-button {
    padding: 0.36em 0.84em;
    border: 1px solid #000000;
    border-radius: 0.5em;
    margin: 0.1em auto 0.2em auto;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    background-color: black;
    text-align: center;
    transition: all 0.15s;
  }

  #download-button:hover {
    cursor: pointer;
    text-shadow: 0 0 2em rgba(255, 255, 255, 1);
    color: black;
    background-color: #accd7c;
    border-color: black;
  }

  .footer {
    padding: 10px 30px;
    border-radius: 6px;
    margin: 30px 4% 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    color: #ede6e6;
    border: 3px solid rgb(26, 41, 23);
    background-color: rgb(65, 103, 57);
  }
  
  #footer-menu {
    display: flex;
    padding: 0px;
    justify-content: center;
    font-family: arial;
  }
  
  .footer-item {
    color: white;
    padding: 0px 20px;
  }
  
  .footer-item:hover {
    color: rgb(234, 190, 102);
  }

  .footer-logo {
    display: inline-block;
    background-repeat: no-repeat;
    height: 7.5vw;
    width: 7.5vw;
    vertical-align: middle;
    background-size: 7.5vw;
    background-position: center;
    background-image: url('./favicon.ico');
  }

  .footer-logo-2 {
    display: inline-block;
    background-repeat: no-repeat;
    height: 7.5vw;
    width: 7.5vw;
    vertical-align: middle;
    background-size: 7.5vw;
    background-position: center;
    background-image: url('./seal.jpg');
  }

  .disclaimer {
    font-style: italic;
  }















/* TABLETS AND SMALL LAPTOPS */
@media only screen and (max-width: 800px) {
  body {
    background: none;
    max-width: 100%;
  }

  .content {
    padding: 0px;
    margin: 0px;
    width: 100%;
    border: none;
  }

  .divider {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .app {
    padding: 0px;
    max-width: 100%;
  }

  #logo {
    justify-content: space-around;
  }

  #logo img {
    width: 50px;
    height: auto;
  }

  .nav-bar {
    margin: 0px;
    border: 0px;
    border-radius: 0px;
    padding: 2px 0px 2px 15px;
    justify-content: space-between;
    min-height: 60px;
    flex-wrap: nowrap;
  }

  #nav-menu {
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
  }

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: contents;
  }

  .blog {
    border: 0px;
    padding: 0px;
    margin: 0px;
  }

  .blog-divider {
    margin: 10px auto;
  }

  #nav-menu {
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
    padding: 6px 0px 0px;
  }

  .nav-item {
    font-size: 14pt;
    font-weight: normal;
    padding: 10px;
  }

  .footer {
    height: auto;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
  }

  .footer-item {
    font-size: 10pt;
    text-align: center;
    padding: 0px 5px;
  }

  .footer-menu {
    justify-content: space-evenly;
  }

  .footer {
    min-height: 100px
  }

  .disclaimer {
    display: none;
  }

  .footer-logo {
    width: 50px;
    height: auto;
  }
}

/* MEDIUM AND LARGE CELL PHONES */
@media only screen and (max-width: 600px) {
  #nav-menu {
    display: none;
  }

  #hamburger-menu {
    display: flex;
    flex-direction: column;
    height: 60px;
    z-index: 1;
    padding: 0px;
    text-align: center;
  }

  #hamburger-menu.closed {
    overflow: hidden;
  }

  #hamburger-menu.open {
    overflow: visible;
  }

  #hamburger-button.open-b {
    font-size: 36pt;
    vertical-align: middle;
    text-align: top;
    padding-bottom: 2px;
  }

  #hamburger-button.closed-b {
    font-size: 36pt;
    vertical-align: middle;
    text-align: center;
    padding-top: 5px;
  }

  .hamburger-item {
    color: #ede6e6;
    background-color: #000000;
    overflow: visible;
    border: 5px solid black;
    padding: 15px 4px;
    vertical-align: middle;
    text-align: center;
    font-size: 13pt;
  }

  #hamburger-menu.open div.open-b {
    display: contents;
  }

  #hamburger-menu.open div.closed-b {
    display: none;
  }

  #hamburger-menu.closed div.open {
    display: none;
  }

  #hamburger-menu.closed div.closed {
    display: contents;
  }

  .footer {
    min-height: 50px
  }

  .footer-logo {
    display: none;
  }
}


/* SMALL CELL PHONES */
@media only screen and (max-width: 375px) {
  #logo img {
    width: 45px;
  }

  #hamburger-button {
    font-size: 22pt;
  }

  .hamburger-item {
    font-size: 14pt;
    border: 2px solid black;
  }
  
  .nav-bar {
    padding: 5px 0px 5px 5px;
  }

  .subheading {
    font-size: 18pt;
  }

  .subcategory-title-flexbox img {
    max-width: 45px;
    height: auto;
  }
}